/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 20;
    background-color: rgba(90, 90, 90, 0.25);
    border-color: rgba(80, 80, 80, 0.25);
    
}
.navbar-wrapper .container {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    min-height: 50px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(255, 255, 255, 0);
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}
.navbar-brand img{
    margin-top:-14px;
}
.navbar-inverse {
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.navbar-inverse .navbar-nav > .active > a {
    background-image:none;
    background-color: rgba(66, 139, 202, 0.5);
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    background-color: rgba(66, 139, 202, 1);
}
.navbar-inverse .navbar-nav>li>a {
    color: #2E2E2E;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* featured
------------------------- */

.featured-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featured-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* article
------------------------- */

.article {
  padding-right: 15px;
  padding-left: 15px;
}

.readmore {
    float:left;
}

#blank_menu {
    margin-top: 100px;
}


/* 
** FONT
*/

@font-face {
    font-family: 'glyphicons_halflingsregular'; /*a name to be used later*/
    src: url('./fonts/glyphicons-halflings-regular.ttf'); /*URL to font*/
}
p{
    font-family: glyphicons_halflingsregular;
    font-size: 1.5em;
}


@media (min-width: 768px){
}
