html {
  height: 101%;
}

body {
  margin: 0;
  padding: 0;
}

* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 3px 0;
  margin: 0;
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

ul, ol {
  padding: .75em 0 .75em 0;
  margin: 0 0 0 35px;
}

ul.menu {
    margin: 0;
}

ul.menu li {
    list-style: none;
}
ul.nav.menu{
    padding : 5px;
    border-radius: 5px;
    /* background: #e1e1e1; */
    margin-bottom: 10px;
}

p {
  padding: 5px 0;
}

address {
  margin: .75em 0;
  font-style: normal;
}

a:focus {
    outline: none;
}

img {
  border: none;
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input, button, select {
  vertical-align: middle;
}

.clr {
	clear : both;
}

.clearfix:after {
    content: " "; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
	font-size: 0;
}

.clearfix {
	zoom: 1;
}

body {
	background: #428bca;
	color: #2b2b2b;
	text-align: left;
	line-height: 20px;
	font-size: 12px;
	font-family: Segoe UI, sans-serif;
}

a, a:visited {
	color: #036c9e;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

h1 {
	color: #036c9e;
	text-align: left;
	letter-spacing: -1px;
	line-height: 25px;
	font-size: 22px;
}

h2 {
	color: #036c9e;
	text-align: left;
	font-size: 20px;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
	color: #036c9e;
}

img {
	width: 100%;
    height:auto;
}

.rounded {
    -moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.wrapper{
    padding: 0 13px;
    border-radius: 5px;
    border: #eee 2px solid;
    box-shadow: #545454 0px 2px 2px 0px;
	-moz-box-shadow: #545454 0px 2px 2px 0px;
	-webkit-box-shadow: #545454 0px 2px 2px 0px;
    background: #eee;
}
.items-leading{
    padding : 5px;
    border-radius: 5px;
    background: #e1e1e1;
    margin-bottom: 10px;
}
.item {
    padding : 5px;
    border-radius: 5px;
    background: #e1e1e1;
    margin-bottom: 10px;
}

/* .white {
    background: #e1e1e1;
	background-image: url("white-gradient.svg");
	background-image: -o-linear-gradient(center top,#ffffff,#ffffff 40%, #e1e1e1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,from(#ffffff),color-stop(40%,#ffffff), color-stop(100%, #e1e1e1));
	background-image: -moz-linear-gradient(center top,#ffffff,#ffffff 40%, #e1e1e1 100%);
	background-image: linear-gradient(center top,#ffffff,#ffffff 40%, #e1e1e1 100%);
	-pie-background: linear-gradient(center top,#ffffff,#ffffff 40%, #e1e1e1 100%);
	border: #ffffff 1px solid;
    box-shadow: #545454 0px 1px 1px 0px;
	-moz-box-shadow: #545454 0px 1px 1px 0px;
	-webkit-box-shadow: #545454 0px 1px 1px 0px;
    border: #eee 1px solid;
} */

nav.navigation li.active a,
nav.navigation li.active a:hover,
nav.navigation li a:hover {
	background: none;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,255, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	box-shadow: inset 0 0 5px rgba(0,0,255, 0.6), rgba(255,255,255,0.1) 0 1px 0;
	border-radius: 4px;
	border: 1px solid rgba(0,0,255,0.25);
	color: #000;
	text-shadow: rgba(0, 0, 0, 0.796875) 0px -1px 0px, rgba(255, 255, 255, 0.296875) 0px 0px 10px;
}

.main {
	max-width: 1240px;
	margin: 0 auto;
    padding: 0 20px;
}

#header{
    margin-top: -5px;
    padding-top: 40px;
    background: #428bca;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

#footer{
    
}

#logo-events {
    clear: both;
    padding-top: 25px;
    padding-bottom: 20px;
}
.sidebar-right li[class^="item"]{
    background: #e1e1e1;
}

#searchbox{
    padding-top: 17px;
}
code,
pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 11px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: nowrap;
}
pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
pre.prettyprint {
	margin-bottom: 18px;
}
pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}
.element-invisible {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}